* {
	box-sizing: border-box;
	color: rgba(190, 190, 190, 1);
}

html,
body {
	padding: 0;
	background-color: rgba(30, 30, 30, 1.0);
}

main {
	display: flex;
	flex: 1;
	height: 100vh;
	width: 100vw;
}

.slider-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h2 {
	margin: 0;
}

button {
	width: 100%;
	background-color: rgba(0, 50, 50, 1.0);
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

.sim-container {
	flex: 1;
}

canvas {
	background-color: black;
	width: 100%;
	height: 100%;
}
